@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Mukta:wght@800&display=swap');

/* component */
@import "./component/header-nav.css";

/* screen */
@import "./screen/whoAmI.css";
@import "./screen/shortIntro.css";
@import "./screen/archiving.css";
@import "./screen/project.css";
@import "./screen/career.css";

body {
    font-family: 'Gothic A1', sans-serif;
    font-family: 'Mukta', sans-serif;
    height: 5000px;
}

a, input {
    cursor: pointer;
}
