/* Archiving */

.archiving {
    height: 800px;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.archiving-text {
    padding-top: 80px;
    padding-bottom: 10px;
    margin-bottom: 50px; 
    border-bottom: 5px solid #F5F5F5;
    font-size: 55px;
    font-weight: 900;
    color: #F5F5F5;
}

.archiving-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.archiving-box {
    width: 520px;
    height: 440px;
    background-color: #F5F5F5;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
}

.archiving-box:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.1);
}

.archiving-box-text {
    margin: 30px 30px
}

.archiving-box-text__title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.archiving-box-text__title i{
    font-size: 50px;
    text-align: center;
    
}

.archiving-box-text__title h1{
    font-size: 50px;
    text-align: center;
    margin-top: 8px;
    margin-left: 10px;
    letter-spacing: 2px
}

.archiving-box-text__section {
    font-size: 20px;
}

.archiving-box-text__section a {
    margin-bottom: 3px;
    text-decoration: none;
    color: rgb(50, 50, 254);
}

.archiving-box-text__section p {
    margin-top: 10px;
    margin-bottom: 40px;
    letter-spacing: 1px
}

.archiving-box-text__section li{
    margin: 15px 0px;
    letter-spacing: 2px
}

.archiving-container-box1 {
    margin-right: 300px;
}



